<div class="row mb-5">
    {% for post in site.posts %}
    <div class="col-md-4">
        <div class="card mb-4 h-350">
            <img class="" src="{{ post.preview }}">
            <div class="card-body p-3">
                <!-- <strong class="d-inline-block mb-2 blog-post-tag">{{ post.tags }}</strong> -->
                <h2 class="">
                    <a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <h4 class="card-subtitle"> {{ post.cost }}</h4>
                <!-- <div class="mb-3 blog-post-date"><time datetime="{{ post.date }}">{{ post.date | date: "%b %-d, %Y" }}</time></div> -->
                <p class="card-text mb-auto">{{ post.excerpt }}</p>
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>
